// Place all the styles related to the api::companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: pink;
  font-family: Courier;
}

.comapny-info-ul{

}

.company-info-li{
  text-transform: uppercase;
  list-style-type: none;
}

.company-show-ul{
  list-style-type: none;
}

.show-index{
  display: grid;
  grid-template-columns: 25% 50% 25%;
}
