
.company-info-ol{
  // background-color: purple;
  padding: 10px;
}
.company-info-li{
  text-transform: uppercase;
  list-style-type: none;
}
.company-index-section{
  background-color: #b8a9c9; //light purple
  height: 100vh;
  overflow: scroll;
	overflow-x: hidden;
}
