input[type="text"]{
  width: 20%;
  padding: 8px 12px;
  margin: 8px 0;
  box-sizing: border-box;
  margin: 3% 0 3% 0;
  border-radius: 4px;
}

.company-form-holder{
  margin-top: 10%;
}

.company-form-textarea{
  width: 60%;
  height: 250px;
}

select {
  height: 29px;
 overflow: hidden;
 width: 240px;
}

.company-form-select{
  background: transparent;
  border: none;
  font-size: 14px;
  height: 29px;
  padding: 5px; /* If you add too much padding here, the options won't show in IE */
  width: 268px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  background-color: #779126;
}
