// Place all the styles related to the api::companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
  background-color: pink;
  font-family: Courier;
}

.company-info-ol{
  // background-color: purple;
  padding: 10px;
}

.company-info-li{
  text-transform: uppercase;
  list-style-type: none;
}

.company-show-ul{
  background-color: green;
  list-style-type: none;
}

.show-index{
  display: grid;
  grid-template-columns: 25% 50% 25%;
}

.company-index-section{
  height: 100vh;
  overflow: scroll;
  background-color: orange;
	overflow-x: hidden;
}

::-webkit-scrollbar {
	width: 7px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
		background-color: pink;
}
::-webkit-scrollbar-thumb {
    background: purple;
    border-radius: 10px;

}
