// Place all the styles related to the api::companies controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

body {
  background-color: pink;
  font-family: Courier;

}


.show-index{
  display: grid;
  grid-template-columns: 25% 50% 25%;
}

::-webkit-scrollbar {
	width: 7px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
		background-color: pink;
}
::-webkit-scrollbar-thumb {
    background: purple;
    border-radius: 10px;
}

.company-info-li{
	text-decoration: none;
	display: block;
	border-style: dashed;
	color: white;
	transition: 2s;
	border-radius: 4px;

}

.company-info-holder{
	border-color: 2px solid white;
	// background-color: black
}

.company-info-holder:hover{
}

.company-info-ol:hover{
	border-color: white;
	// background-color: orange;
	filter: hue-rotate(90deg);
}

.company-info-ol:focus{

	filter: hue-rotate(90deg);
}
