[class*="initiative-button"]{
  font-family: Courier;
  display: block;
  border-radius: 4px;
  // background-color: purple;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 14px;
  padding: 10px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 8px;
}

.initiative-button:hover{
  padding-right: 25px;
  opacity: 0.8;
}

.initiative-button:focus{
  padding-right: 25px;
  font-weight: bold;
  // opacity: 0.5;
  color: black;
}

.init-buttons-section{
  font-weight:bold;
  font-size: 18px;
}
